/*FInblock logo at the top */
#logo{
    height:100px;
    width:350px;
    margin-left:100px;
    
}

.header{
    opacity: 0.5;
}
/* Title paragraph below the logo */
#title{
    font-size: 30px;
    
    font-family: 'Kanit', sans-serif;
    opacity:0.8;
    

}
.title_content {
    font-family: 'Sarabun', sans-serif;
    color:grey;
    font-size:25px;
    opacity:0.8;
}
/*MAkes finblock in title in black by default*/
.title_content a{
    color:black;
}

a:link{
    color: black;
    text-decoration: none;
}
a:hover{
    color:blue;
    text-decoration: none;
}
a:active{
    color:blue;
    
    
}
@media (max-width: 600px){
    .cover_image{
        float:none;
    }
}
/*COver image beside the title content*/
.cover_image{
    
    float:right; 
    margin-right:10px;
    max-width: 100%;
   height: auto;   
}
.index_page{
    margin-left: 100px;
    margin-right:100px;
}
#module_head{
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    margin-bottom:30px;
    
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
  }
  /* Create three equal columns that sits next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 250px;
    margin:10px 30px 30px 0
    
  }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  .module_url{
    font-family: 'Overpass', sans-serif;
  }
  .store_buttons{
    height: auto;
    max-width: 125px;
    margin-bottom: 10em;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 90%;
    height:50%;
  }
  

  .columns img {
    max-width: 100%;
    height: auto;
}
#book-column{
    float: right;
}
.book-row {
  display: -webkit-flex;
  display: flex;
  padding-left: 10px;
}

.book_column_image {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
  
}
.page_margin{
  margin-left: 10em;
  margin-right:10em;
}
.title-logo{
  border-bottom: 10px;
}
.book-card a{
  float:left;
  padding:10px;
}
.book-card{
  float:right;
}
 
  
