
#logo{
    height:100px;
    width:350px;
    margin-left:100px;
    
}
.header{
    opacity: 0.5;
}
#title{
    font-size: 30px;
    
    font-family: 'Kanit', sans-serif;
    opacity:0.8;
    

}
#title_content{
    font-family: 'Sarabun', sans-serif;
    color:black;
    font-size:25px;
    opacity:0.7;
}
a:active{
    color:black
}
a:link{
    color: black;
}
a:hover{
    color:blue;
}
.cover_image{
    
    float:right; 
    margin-right:10px;
    width:40%;
    height:350px;   


}
.index_page{
    margin-left: 100px;
    margin-right:100px;
}
#module_head{
    font-size: 30px;
    font-family: 'Kanit', sans-serif;
    margin-bottom:30px;
    
}

/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
  }
  /* Create three equal columns that sits next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 250px;
    margin:10px 30px 30px 0
    
  }
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  .module_url{
    font-family: 'Overpass', sans-serif;
  }
